[submodule "thirdparty/googletest"]
	path = thirdparty/googletest
	url = https://github.com/google/googletest.git
[submodule "thirdparty/opencv"]
	path = thirdparty/opencv
	url = git@github.com:ttroja/opencv.git
